extends layout
block content
    img#personalimg(src='img/980259_10152052691329668_826990889_o.jpg')
    div#aboutme
        p My name is Vilian and I am a Management Student at the London School of Economics. I built this website with the purpose of helping finance students in their studies.
        p I believe that finance calculations should be fun and easy to do. That is why I have put alot of effort in order to improve the user experience for people who what to calculate a present value for an investment - the most common type of calculation in finance.
        a#linkedin(href='http://uk.linkedin.com/pub/vilian-zhekov/54/281/6b8') Connect with me on LinkedIn!