extends layout
block content
    h1 Welcome to #{title}
    div#top_numeric
    div#numeric
        p Future Value:
            input#future_value(type='number')
            br
        p Interest Rate:
            input#interest_rate(type='number')
            br
        p Number of Years:
            input#number_of_years(type='number')
            br
    button#primarybutton.k-button(onclick='present_value()') Calculate
    p The Present Value Is:
    p#result
    span#popupNotification

