doctype html
html
    head
        title=title
        script(src='model/presentvalue.js')
        link(type='text/css', rel='stylesheet', href='styles/index.css')
        link(href='styles/kendo.common.min.css', rel='stylesheet')
        link(href='styles/kendo.default.min.css', rel='stylesheet')
        script(src='model/jquery.min.js')
        script(src='model/kendo.all.min.js')

        body
        div#mast
            div#mast2
                a#logo(href='/') Home
                a(href='/aboutme') About Me
        div#main
            block content
        div#footer
            script(src='model/kendo.js')
