doctype html
html
    head
        title financialsparce
        script(src='model/presentvalue.js')
        link(type='text/css', rel='stylesheet', href='styles/index.css')
    body
        h1 Hello world!
        block content