

body {
    padding: 0px;
    margin: 0px;
    font-family: Arial;
    font-size: 14px;
    background-color: #ffffff;
}

#logo {
    float: left;
}
#mast {
    height: 35px;
    background: -webkit-linear-gradient(#678db6, #4e75a6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1b9eff, #2c77de); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#678db6, #4e75a6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#678db6, #4e75a6); /* Standard syntax */

    border-bottom: 1px solid rgba(31, 31, 31, 0.87);
}
#main{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#primarybutton {
    font-family: Arial;
}

#mast2{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold;
    color: #f4fffd;

}

#numeric {
    border: 1px solid rgba(0, 0, 0, 0.45);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
    width: 500px;
    background: linear-gradient(#fdf8ff, #e8e7ea);
}

input {
    padding-left: 5px;
    margin-left: 5px;
}
#top_numeric {
    height: 20px;
    display: block;
    width:510px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: linear-gradient(#678db6, #4e75a6);
    border: 1px solid rgba(0, 0, 0, 0.45);
}

img{
    margin-top: 5px;
    margin-bottom: 5px;

}

#result {
    font-weight: bold;
    font-size: 15px;
}

a:link, a:visited {
    float: right;
    text-decoration: none;
    font-size: 14px;
    color: white;
    margin-right: 5px;
}

a:hover {
    color: #99a4a6;
}

a#linkedin {
    color: #007bb6;
    float: left;
}

#personalimg {
    height: 400px;
    margin-top: 20px;
}
#aboutme{
    float:right;
    width: 780px;
    margin-top: 25px;
    margin-right: 50px;
}

